<html>
 <head>

<table align="center" bgcolor="#1e4fc2" border="4" cellpadding="4" cellspacing="4" dir="ltr" width="700px">
	<tbody>
		<tr>
			<th align="center"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#a0e8ee;"><span style="font-size: 18px;">ПРИЛОЖЕНИЕ ДЛЯ РАСЧЕТА <br />
			соотношения матрица-наполнитель</span></span></span></th>
		</tr>
		<tr>
			<th><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#a0e8ee;">Введите начальные свойства и нажмите &quot;Прогноз&quot;</span></span></span></th>
		</tr>
	</tbody>
</table>
</head>
 <body><table align="center" bgcolor="#1e4fc2" border="3" cellpadding="4" cellspacing="4" dir="ltr" width="700px">
    <form action="" method="post">
<table align="center" bgcolor="DarkBlue" border="3" bordercolor="#1e4fc2" cellpadding="4" cellspacing="4" width="700px">
	<tbody>
		<tr>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#a0e8ee;"><label for="svoistvo1">Плотность, кг/м3</label></span></span></span></td>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><input type="float" name="svoistvo1" placeholder="Введите значение" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#a0e8ee;"><label for="svoistvo2">Модуль упругости, ГПа</label></span></span></span></td>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><input name="svoistvo2" placeholder="Введите значение" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#a0e8ee;"><label for="svoistvo3">Количество отвердителя, м.%</label> </span></span></span></td>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><input name="svoistvo3" placeholder="Введите значение" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#a0e8ee;"><label for="svoistvo4">Содержание эпоксидных групп,%_2</label> </span></span></span></td>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><input name="svoistvo4" placeholder="Введите значение" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#a0e8ee;"><label for="svoistvo5">Температура вспышки, С_2</label></span></span></span></td>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#a0e8ee;"><input name="svoistvo5" placeholder="Введите значение" type="float" /></span></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#a0e8ee;"><label for="svoistvo6">Поверхностная плотность, г/м2</label> </span></span></span></td>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><input name="svoistvo6" placeholder="Введите значение" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#a0e8ee;"><label for="svoistvo7">Модуль упругости при растяжении, ГПа</label></span></span></span></td>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><input name="svoistvo7" placeholder="Введите значение" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#a0e8ee;"><label for="svoistvo8">Прочность при растяжении, МПа</label></span></span></span></td>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><input name="svoistvo8" placeholder="Введите значение" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#a0e8ee;"><label for="svoistvo9">Потребление смолы, г/м2</label></span></span></span></td>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><input name="svoistvo9" placeholder="Введите значение" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#a0e8ee;"><label for="svoistvo10">Угол нашивки, град</label> </span></span></span></td>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><input name="svoistvo10" placeholder="Введите значение" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#a0e8ee;"><label for="svoistvo11">Шаг нашивки</label></span></span></span></td>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><input name="svoistvo11" placeholder="Введите значение" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#a0e8ee;"><label for="svoistvo12">Плотность нашивки</label></span></span></span></td>
			<td><span style="font-size: 18px;"><span style="font-family: Times New Roman,Times,serif;"><input name="svoistvo12" placeholder="Введите значение" type="float" /></span></span></td>
		</tr>
	</tbody>
</table>



    
<table align="center" bgcolor="#1e4fc2" border="3" cellpadding="5" cellspacing="5" width="700px">
	<tbody>
		<tr>
			<td style="text-align: center;"><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><p>
            <input type="submit" value="Прогноз">
            </p></span></span></span></span></td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#1e4fc2" border="3" cellpadding="5" cellspacing="5" width="700px">
	<tbody>
		<tr>
			<th align="center"><span style="font-family: Times New Roman,Times,serif;"><span style="color: #a0e8ee;"><span style="font-size: 16px;">Результат прогноза:</span></span></span></th>
			 {% if message %}
        <br>
        <p style="font-size: 50px;">
        
        </p>
        <p style="font-size: 50px;"> {{message}}</p>
    {% endif %}
		</tr>
	</tbody>
</table>
</form>
